
<div class="row margin-top-standard">
    <div class="span4">
        <h6>{{ 'my.competitions'|trans }}</h6>
        <ul class="left-entities">
            <li><span class="icon-left-competitions"></span><a href="#"><strong>Liga Regional de Río Cuarto B</strong></a></li>
            <li><span class="icon-left-competitions"></span><a href="#"><strong>Liga de Profesionales A</strong></a></li>

        </ul>
        <a href="#" class="seemore">{{ 'see.more'|trans }} &raquo;</a>
    </div>
</div>