<!-- Photo -->
<div class="row margin-top-logo">
    <div class="span4 margin-top-standard profile-photo">     
            <img src="//lh6.googleusercontent.com/-h2ItMrLEMww/AAAAAAAAAAI/AAAAAAAAAx0/qRp2UhNuryU/photo.jpg?sz=48" alt="Foto del perfil de Salvador" width="150" height="150"/> 
    </div>
    <!--div class="span4 margin-top-standard profile-photo">     
        <a class="btn" href="#" id="sendmessage">{{ 'send.message'|trans }}</a>
    </div-->
</div>

